*.xclbin
*.np
*.log
*.xml
*.tmp
*.rtd
*.v
*.sv
*.xdc
*.bxml
*.bd
*.rld
*.vhdl
*.dcp
*.xci
*.vh
*.hwdef
*.vhd
*.hwh
*.bmm
*.mcs
*.prm
*.svh
*.Xil/
*_xocc_link_*
*_xocc_compile*
*out_hw*
*out_host*
*iprepo*
*.hpfm
*.pyc
*.ltx
*.bit
*.swp

